/* hard coded each color option, up to the component to select correct one */
@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(../fonts/Gilroy-Bold.ttf) format('opentype');
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
}
.valuepage-title {
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 124px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
}
.valuepage-title.green {
    color: #8CD9C7;
}

.valuepage-title.orange { 
    color: #F7ACAC;
}

.valuepage-title.blue {
    color: #77BEFF;
}

.valuepage-body {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 0.05em;

    color: #656565;
}

.valuepage-whitebox {
    background: #FFFFFF;
    box-shadow: 3px 3px 24px rgba(0, 0, 0, 0.14);
    border-radius: 24px;
}