* {
  box-sizing: border-box;
}
@font-face {
  font-family: regular;
  src: url(./fonts/Gilroy-Regular.ttf)
}
@font-face {
  font-family: light;
  src: url(./fonts/Gilroy-Light.ttf)
}
@font-face {
  font-family: medium;
  src: url(./fonts/Gilroy-Medium.ttf)
}
@font-face {
  font-family: bold;
  src: url(./fonts/Gilroy-Bold.ttf)
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purple-gradient {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 50px;
}
.logo {
  width: 170px;
  left: 120px;
  top: 39px;
  opacity: 0;
  transform: translateY(8px);
  transition: all 1s 0.2s ease;
}
.logo.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.navigation {
  opacity: 0;
  transform: translateY(8px);
  transition: all 1s 0.2s ease;
}
.navigation.is-visible {
  opacity: 1;
  transform: translateY(0);
}
a.nav-link {
  font-family: medium;
  color: white;
  text-decoration: none;
  margin-left: 60px;
  font-size: 25px;
  position: relative;
  padding-bottom: 4px;
}
a.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 70%;
  height: 1.8px;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
a.nav-link:hover:before {
  visibility: visible;
  transform: scaleX(0.2);
}
.landing-headline {
  width: 50%;
  margin: 0 auto 0 auto;
  margin-top: 70px;
  opacity: 0;
  transform: translateY(8px);
  transition: all 1s 0.4s ease;
}
.landing-headline.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.header-demo {
  margin-top: 40px;
  width: 50%;
  opacity: 0;
  transform: translateY(8px);
  transition: all 1s 0.6s ease;
}
.header-demo.is-visible {
  opacity: 1;
  transform: translateY(0);
}